<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VoosWebServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.6.173:8080/WebServTurismo/ServicoTurismo"
                binding="basicHttpBinding" bindingConfiguration="VoosWebServicePortBinding"
                contract="TurismoWebService.VoosWebService" name="VoosWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>